.table {
    margin: 50px auto;
    text-align: center;

    padding: 5%;

}

#list {
    border: 2px solid orange;
}

#list tbody tr:nth-child(even) {
    background-color: #fff9eb;
}

#list tbody td {
    padding: 15px 10px;
}

.table thead a {
    color: orange;
    text-decoration: none;
}
.table thead a:hover {
    color: tomato;
    font-size: 20.5px;
}
.table thead td {
    padding-bottom: 5%;
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

.table tbody a {
    color: black;
    text-decoration: none;
}
.table tbody a:hover {
    color: orange;
    font-size: 16.5px;
}
.table tbody td {
    width: 10%;
}

.table .content {
    width: 50%;
}

#wrtie thead td {
    font-size: 28px;
}

#wrtie .inputTh {
    width: 20%;
    padding-top: 10px;
}

#wrtie .inputTd {
    width: 80%;
    padding-top: 10px;
}

#wrtie .inputTd input {
    width: 300px;
    height: 20px;
}

#wrtie tbody th {
    color: rgb(56, 38, 4);
    font-size: 20px;
}

#wrtie tbody td {
    text-align: left;
}

.btn {
    background-color: orange;
    border-color: #fff9eb;
    border-radius: 2%;
    
    color: #fff9eb;
    font-size: medium;

    margin: 5% 0;
    padding: 1.3% 40%;
}

.btn:hover {
    background-color: rgb(255, 180, 40);
    font-size: 16.5px;
}
