<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/Board.css">
</head>
<body>
    <div class="menunav">
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="join">회원가입</a> </li>
            <li><a>목록</a></li>
        </ul>
    </div>
    <div>
        <table class='table' id='list'>
            <thead>
                <tr>
                    <th colspan="4">
                        회원 목록
                    </th>
                </tr>
                <tr>
                    <td colspan="4">
                        <div>
                            <form id="searchForm">
                                <select name="" id="colName" style="width: 20%;">
                                    <option value="name">이름</option>
                                    <option value="id">아이디</option>
                                </select>
                                <input type="hidden" name="" id="page" value="0">
                                <input type="text" id="searchInput">
                                <input type="button" id="searchBtn" value="검색" data-search="false">
                            </form>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="seq">번호</td>
                    <td class="name">이름</td>
                    <td class="id">아이디</td>
                    <td class="pwd">비밀번호</td>
                </tr>
                <tr th:each="item : ${map.list}">
                    <td class="seq"><span th:text="${item.seq}"></span></td>
                    <td class="name"><span th:text="${item.name}"></span></td>
                    <td class="id"><span th:text="${item.id}"></span></td>
                    <td class="pwd"><span th:text="${item.pwd}"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div th:utext="${map.memberPaging.pagingHTML}"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/js/listPage.js"></script>
</body>
</html>