<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <h3>산술 연산자</h3>
            <ul>
                <li>25 + 36 = <span th:text="25 + 36"></span></li>
                <li>25 % 2 == 0 : <span th:text="25 % 2 == 0"></span></li>
            </ul>
            <ul>
                <li>25 + 36 = [[${25 + 36}]]<span></span></li>
                <li>25 % 2 == 0 : [[${25 % 2 == 0}]]<span></span></li>
            </ul>
        </li>
        <li>
            <h3>비교 연산자</h3>
            <ul>
                <li>1 > 10 : <span th:text="1 &gt; 10"></span></li>
                <li>1 gt 10 : <span th:text="1 gt 10"></span></li>
                <li>1 >= 10 : <span th:text="1 >= 10"></span></li>
                <li>1 ge 10 : <span th:text="1 ge 10"></span></li>
                <li>1 == 10 : <span th:text="1 == 10"></span></li>
                <li>1 != 10 : <span th:text="1 != 10"></span></li>
            </ul>
        </li>
        <li>
            <h3>조건식</h3>
            <ul>
                <li>(10 % 2 == 0 ? '짝수':'홀수') : <span th:text="(10 % 2 == 0) ? '짝수':'홀수'"></span></li>
            </ul>
        </li>
        <li>
            <h3>Elvis 연산자 (?:)</h3>
            <ul>
                <li>${data}?: '데이터가 없습니다.' : <span th:text="${data}?: '데이터가 없습니다.'"></span></li>
                <li>${nullData}?: '데이터가 없습니다.' : <span th:text="${nullData}?: '데이터가 없습니다.'"></span></li>
                <li>${bb}?: '데이터가 없습니다.' : <span th:text="${bb}?: '데이터가 없습니다.'"></span></li>
            </ul>
        </li>
        <li>
            <h3>No-Operation</h3>
            <ul>
                <li>${data}?: _ : <span th:text="${data}?: _"></span></li>
                <li>${nullData}?: _ : <span th:text="${nullData}?: _"></span></li>
            </ul>
        </li>
    </ul>
</body>
</html>